.about{
    margin: 150px 0 250px 0;
}


.about .about_content{
    display: grid;
    grid-template-columns: 45% auto;
    grid-gap: 2rem;
}

.about .about_content h1{
    border-top: 2px solid #000;
    font-size: 4rem;
    font-weight: 300;
    transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -webkit-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -moz-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -ms-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -o-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
}

.about:hover .about_content h1{
    letter-spacing: 6px;
}

.about .about_content p{
    font-size: 2rem;
    font-weight: 300;
}