.about{
    position: relative;
    top: 150px;
    padding: 150px 0 250px 0;
}

.about .about_content{
    display: grid;
    grid-template-columns: 45% auto;
    grid-gap: 2rem;
}

.about .about_content h1{
    position: sticky;
    top: 100px;
    height: fit-content;
    border-top: 2px solid #000;
    font-size: 4rem;
    font-weight: 300;
    transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -webkit-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -moz-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -ms-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
    -o-transition: all .5s cubic-bezier(0.9,0.2,0.05,0.9);
}

.about:hover .about_content h1{
    letter-spacing: 6px;
}

.about .about_content p{
    font-size: 2rem;
    font-weight: 300;
}

/* Large Device */
@media screen and (max-width: 1000px){
    .about{
        margin-top: -150px;
        padding: 150px 0 250px 0;
    }

    .about .about_content{
        display: block;
    }

    .about .about_content h1{
        font-size: 4rem;
        margin-bottom: 3rem;
        position: static;
        top: 100px;
    }
}

/* Small Device */
@media screen and (max-width: 480px){
    .about .about_content h1{
        font-size: var(--section-title);
    }

    .about .about_content p{
        font-size: 1.4rem;
        font-weight: 300;
    }
}
