/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 123, 123);
}

body{
  background-color: #fff;
  min-width: 100vw;
  overflow-x: hidden;
}

a{
  color: var(--color-text);
  text-decoration: none;
}

li{
  list-style: none;
}

.container_padding{
  padding: 0 10vw;
}

.footer-img{
  margin-bottom: -1rem;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .footer-img{
    height: 30rem;
  }
}

@media screen and (max-width: 480px){
  .footer-img{
    height: 20rem;
  }
  .container_padding{
    padding: 0 8vw;
  }
}